<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Members Details</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h3>Gym Members Details</h3>
    <p><a href="/addUser" class="add-btn">Add members +</a></p>
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Age</td>
                <td>Weight</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.NAME}}</td>
                <td>{{this.AGE}}</td>
                <td>{{this.weight}}</td>
                <td><a href="/editUser/{{this.ID}}" class="edit">Edit</a></td>
                <td><a href="/deleteUser/{{this.ID}}" class="delete">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
